.pan-layout-left {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: var(--pan-layout-left-left);
  width: var(--pan-layout-left-width);
  color: #FFF;
  z-index: 100500;

  &:before {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: "";
    background-color: var(--pan-layout-left-background-color);
  }

  > * {
    position: absolute;
    left: 0px;
    right: 0px;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 0px;
  }

  &__top {
    top: 0px;
    height: var(--pan-layout-left-top-height);
  }

  &__middle {
    top: var(--pan-layout-left-top-height);
    bottom: var(--pan-layout-left-bottom-height);
    border-top: var(--pan-layout-left-middle-border);
    border-bottom: var(--pan-layout-left-middle-border);
    overflow-y: auto;
    overflow-x: visible;
  }

  &__bottom {
    height: var(--pan-layout-left-bottom-height);
    bottom: 0px;

    > * {
      display: block;
      position: absolute;
      left: 10px;
      right: 10px;
    }
  }

  &__small {
    top: 0px;
    height: 20px;
    font-size: .8rem;

    > * {
      @include v-center;
    }
  }

  &__social {
    top: 20px;
    bottom: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 1.4rem;
    padding-top: 15px;

    ul {
      list-style: none;
      display: table;
      padding: 0px;
      margin: 0px;

      > li {
        display: table-cell;
        padding-right: 30px;
        margin: 0px;

        a {
          color: #FFF;
        }
      }
    }
  }

  &__avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 200px;

    img {
      display: block;
      margin: 0px auto;
      width: 150px;
      height: 150px;
      border-radius: 50%;

      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__info {
    position: absolute;
    top: 200px;
    bottom: 0px;
    left: 5px;
    right: 5px;
    text-align: center;
    
  }

  &__title {
    font-size: 1rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__subtitle {
    font-weight: lighter;
  }

  &__menu {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;

    > li {
      display: block;
      padding: 0px;
      margin: 0px;

      &:hover {
        background-color: rgba(255, 255, 255, .1);
      }

      &.active {
        background-color: rgba(255, 255, 255, .3) !important;
      }

      > a {
        display: block;
        padding: 15px 15px 15px 30px;
        color: #FFF !important;
        text-decoration: none !important;
      }
    }
  }

  &__close {
    left: unset;
    top: 0px;
    padding: 10px 15px;
    color: #FFF;
    cursor: pointer;
    z-index: 10;
    display: var(--pan-layout-left-close-btn-display);
  }

}
